
<p>
  <strong>Observación de Alumno:</strong>
  <%= @alumno_observacion.observacion %>
</p>

<%= link_to 'Editar', edit_alumno_observacion_path(@alumno_observacion) %> |
<%= link_to 'Atrás', alumno_observaciones_path %>
